/* Primary Colors */
:root {
  --primary-color: #00A651;
  --secondary-color: #D2AC67;
  --tertiary-color: #BCBEC1;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BCBEC1;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px; 
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px; /* Reduce padding to reduce space */
  height: 120px; /* Reduce height to reduce space */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0px;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links a{
  text-decoration: none;
}

.nav-links ul li:first-child {
  margin-left: 0;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.logo-img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Makes the logo circular if it's a square image */
  float: left;
}

.title {
  flex: 1;
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 10px; /* Adjust the top margin to separate from the logo */
}

#homepage-footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 16px;
}

.footer{
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 16px;
}

  nav a {
    padding: 10px 20px;
    margin: 10px;
    background-color: #00A651;
    color: white;
    border-radius: 5px;
  }

  nav a:hover {
    background-color: #555;
    color: black;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  nav a:active {
    background-color: #888;
    transform: scale(0.9); 
  }

  .subcategory {
    margin-left: 20px;
  }
/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
    background-color: #00a651;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.main-content {
  padding-top: 40px;
  max-height: calc(100vh - 200px); /* Adjust as needed */
  overflow-y: auto;
}

.report-btn, .admin-login-btn {
    display: inline-block;
    background-color: #00a651;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
}

/* Home Page Styles */
h1 {
    text-align: center;
}

#category {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
}

#category option {
    font-size: 16px;
}

/* Style for the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  margin-bottom: 20px; /* Add bottom margin to create space between image containers and footer */
}


/* Style for the images */
.image-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 2000px; 
    overflow-y: auto; 
    gap: 20px;
}

.image-category img {
  max-width: 200px; /* Set maximum width for images */
  height: 250px; /* Maintain aspect ratio */
  width: 250px;
  border: 1px solid #ccc; /* Add border for clarity */
  border-radius: 5px; /* Add rounded corners */
}

.image-category h2 {
  width: 100%; /* Make heading full width */
  text-align: center; /* Center align heading */
  margin-bottom: 10px; /* Add space between heading and images */
}

/* User Login Page Styles */
.admin-login-form {
  text-align: center;
  margin-top: 100px;
}

.admin-login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.admin-login-form button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Records Page Styles */
.records-form {
  text-align: center;
  margin-top: 50px;
}

.records-form input,
.records-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Reporter Page Styles */
.report-form {
  text-align: center;
  margin-top: 50px;
}

.report-form input,
.report-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.report-form button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 9, 2024, 3:27:50 PM
    Author     : FABIUS
*/